<button class="button" @onclick=HandleClick>@ChildContent</button>

@code{
    [Parameter]
    public Action OnClick { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private void HandleClick()
    {
        OnClick?.Invoke();
    }
}