@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<head>
    <script src="~/js/alertHelper.js"></script>
    <script src="~/js/localStorageHelper.js"></script>
</head>

<div class="page">
    @if (ShowNavMenu)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    public bool ShowNavMenu { get; set; } = true;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
        UpdateNavMenuVisibility();
    }

    private void HandleLocationChanged(object? sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        UpdateNavMenuVisibility();
        StateHasChanged();
    }

    private void UpdateNavMenuVisibility()
    {
        ShowNavMenu = !NavigationManager.Uri.Contains("login", StringComparison.OrdinalIgnoreCase);
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }
}
